---
name: Lint & Test
on:
  # Allow this workflow to be called from other workflows. See
  # https://stackoverflow.com/questions/58457140/dependencies-between-workflows-on-github-actions.
  workflow_call:
  pull_request:
  push:
    branches: ["main"]

# Cancel in-progress jobs on PRs when new commits are pushed.
concurrency:
  group: validate-${{ github.workflow }}-${{ github.ref }}
  # Only cancel concurrent requests when we're running from a PR; otherwise, behavior is generally
  # more predictable if we allow existing jobs (e.g. validation triggered during release) to
  # complete.
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup

      - name: Check formatting
        run: make format.check

      - name: Lint
        run: make lint

  compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup

      - name: Check for compilation errors
        run: make compile

  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      models: read
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup

      - name: Run tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make test
